
<div class="car__inner">
  <p>Зараз ви переглядате   <h3><%=@car.name%> <%=@car.series %> <%=@car.year %></h3> </p>
  <p><%= image_tag(@car.image,width:600) %></p>
  <div class="price"><%= @car.price %></div>
  <div class="probeg"><%= @car.probeg%> пробіг</div>


  <p>Обєм двигуна: <%= @car.motor %></p>
  <p>Трансмісія: <b><%= @car.kpp %></b></p>
  <p>Привід: <b><%= @car.privod %></b></p>
  <div class="displayflex">
    <div class="car__color">Колір авто</div>
    <span class="color-block" style="background-color: <%=@car.color%>"></span>
  </div>
  <%if @car.info!='' %>
  <p>Опис авто: <%= @car.info %></p>
  <%end %>
  <%if @car.stan!='' %>
    <p>Технічний стан: <%= @car.stan %></p>
  <%end %>
  <p>Місто де знаходиться авто: <b><%= @car.city %></b></p>
  <p>Номер продавця: <b style="color: orangered"><%=@car.telephone%></b></p>
  <hr>
  <% if @car.user_id == current_user.id || current_user.email == 'admin@ukr.net'%>
      <%= link_to "Редагувати", edit_car_path(@car), class: 'btn btn-warning' %>
      <%= link_to "Видалити оголошення", car_path(@car), method: :delete, class: 'btn btn-danger' %>
      <br>
  <%end %>
  <div class="comments">Коментарі</div>
  <%@car.comments.each do |comment| %>
    <%if comment!=nil %>
      <div class="comment__container">
        <div class="comment__inner">
          <div class="comment__username"><span style="font-weight: 400; font-size: 14px; margin-right: 15px;"><%= image_tag(comment.user.avatar , width: 75) %></span><%= link_to "#{comment.user.name}", user_path(comment.user_id)%></div>
          <div class="comment__body"><span style="font-weight: 400; font-size: 14px; color: black">Пишет:</span> </br><%=comment.body%></div>
          <div class="comment__date"><span style="font-weight: 400; font-size: 14px; color: black">Опубликовано: </span> <%=comment.created_at.to_formatted_s(:short)%></div>
        </div>
        <div class="deleted__comment">
          <%if current_user.email == 'admin@ukr.net' %>
            <%= link_to "Видалити коментар", car_comment_path(@car,comment), method: :delete, class: 'btn btn-danger' %>
          <%end %>
        </div>
      </div>

    <%end %>
  <%end %>
  <%if user_signed_in? %>
    <div class="comment__tag">Залиште коментар</div>
    <%=form_for ([@car, @car.comments.build]) do |f| %>
<!--      <div style = 'display: none'>-->
<!--      <p>Ваше імя</p>-->
      <%#= f.text_field :username, value:"#{@user.email}", class:'form-control' %>
<!--      <br>-->
<!--      </div>-->
      <p>Напишіть коментар</p>
      <%= f.text_area :body, class:'form-control' %>
      <br>
      <%= f.submit "Опублікувати", class:'btn btn-success' %>
      <br>
    <%end %>
  <%end %>
</div>






