
<div class="car__inner">
  <p>Зараз ви переглядате   <h3><%=@car.name%> <%=@car.series %> <%=@car.year %></h3> </p>
  <p><%= image_tag(@car.image,width:600) %></p>
  <div class="price"><%= @car.price %></div>
  <div class="probeg"><%= @car.probeg%> пробіг</div>


  <p>Обєм двигуна: <%= @car.motor %></p>
  <p>Трансмісія: <b><%= @car.kpp %></b></p>
  <p>Привід: <b><%= @car.privod %></b></p>
  <div class="displayflex">
    <div class="car__color">Колір авто</div>
    <span class="color-block" style="background-color: <%=@car.color%>"></span>
  </div>
  <%if @car.info!='' %>
    <p>Опис авто: <%= @car.info %></p>
  <%end %>
  <%if @car.stan!='' %>
    <p>Технічний стан: <%= @car.stan %></p>
  <%end %>
  <p>Місто де знаходиться авто: <b><%= @car.city %></b></p>
  <p>Номер продавця: <b style="color: orangered"><%=@car.telephone%></b></p>
  <hr>
  <%if @car.user.id == current_user.id%>
    <p>Автор: <%=link_to "#{@car.user.name + @car.user.surname}",'/homepage'  %></p>
  <%else %>
    <p>Автор: <%=link_to "#{@car.user.name + @car.user.surname}",user_path(@car.user_id)  %></p>
  <%end %>
  <% if @car.user_id == current_user.id || current_user.email == 'admin@ukr.net'%>
    <%= link_to "Редагувати", edit_car_path(@car), class: 'btn btn-warning' %>
    <%= link_to "Видалити оголошення", car_path(@car), method: :delete, class: 'btn btn-danger' %>
    <br>
  <%end %>


</div>
<%=render "comments/show" %>
<%=render "comments/new" %>



